
H1 { font-size: 135%; color: green } 
H2 { font-size: 125%; color: blue } 
H3 { font-size: 110%; color: red } 
H4 { font-size: 110%; font-weight: bold } 
H5 { font-size: 110%; font-style: italic } 
H6 { font-size: 80%; font-variant: small-caps}

BODY { font-family: Arial,Verdana,Helvetica,sans-serif ;font-size: 85%;	
background-color:rgb(255,255,220); color:#000000 ; }