// US: default
#include "ZipMsg.h"
/* **************************************************
TZipMaster VCL originally by Chris Vleghert, Eric W. Engler.
  Present Maintainers and Authors Roger Aelbrecht and Russell Peters.
Copyright (C) 1997-2002 Chris Vleghert and Eric W. Engler
Copyright (C) 1992-2008 Eric W. Engler
Copyright (C) 2009, 2010, 2011 Russell Peters and Roger Aelbrecht
 
All rights reserved.
For the purposes of Copyright and this license "DelphiZip" is the current
 authors, maintainers and developers of its code:
  Russell Peters and Roger Aelbrecht.
 
Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:
* Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
* DelphiZip reserves the names "DelphiZip", "ZipMaster", "ZipBuilder",
   "DelZip" and derivatives of those names for the use in or about this
   code and neither those names nor the names of its authors or
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 ARE DISCLAIMED. IN NO EVENT SHALL DELPHIZIP, IT'S AUTHORS OR CONTRIBUTERS BE
 LIABLE FOR ANYDIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 CONTRACT, STRICT LIABILITY, OR TORT(INCLUDING NEGLIGENCE OR OTHERWISE)
 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.
 
contact: problems AT delphizip DOT org
updates: http://www.delphizip.org
************************************************** */
//Generated 2011-11-14
 
STRINGTABLE LANGUAGE 9, 1 // 0x0409
{
  DS_UnknownError,           "Unknown Error"
  DS_Canceled,               "User canceled operation"
  DS_CopyCentral,            "Central directory"
  GE_Abort,                  "User Abort"
  GE_Copying,                "Copying: %s"
  GE_Skipped,                "Skipped %s %d"
  GE_TempZip,                "Temporary zipfile: %s"
  LD_DllLoaded,              "Loaded %s"
  LD_DllUnloaded,            "Unloaded %s"
  LD_LoadErr,                "Error [%d %s] loading %s"
  AD_NothingToZip,           "Error - no files to zip!"
  AZ_NothingToDo,            "Nothing to do"
  DL_NothingToDel,           "Error - no files selected for deletion"
  DS_NoDiskSpan,             "DiskSpanning not supported"
  DS_NoRenamePart,           "Last part left as : %s"
  GE_EventEx,                "Exception in Event "
  GE_NoSkipping,             "Skipping not allowed"
  LD_BadDll,                 "Unable to load %s - It is old or corrupt"
  LD_NoDll,                  "Failed to load %s"
  LI_WrongZipStruct,         "Warning - Error in zip structure!"
  PW_UnatAddPWMiss,          "Error - no add password given"
  PW_UnatExtPWMiss,          "Error - no extract password given"
  PR_Archive,                "*Resetting Archive bit"
  PR_CopyZipFile,            "*Copying Zip File"
  PR_SFX,                    "*SFX"
  PR_Header,                 "*??"
  PR_Finish,                 "*Finalising"
  PR_Copying,                "*Copying"
  PR_CentrlDir,              "*Writing Central Directory"
  PR_Checking,               "*Checking"
  PR_Loading,                "*Loading Directory"
  PR_Joining,                "*Joining split zip file"
  PR_Splitting,              "*Splitting zip file"
  PR_Writing,                "*Writing zip file"
  PR_PreCalc,                "*Precalculating CRC"
  PR_Processing,             "*Processing"
  PR_Merging,                "*Merging"
  CF_FileConflict,           "File conflict!"
  CF_Merge,                  "'%s'\nwill overwrite\n '%s'\nRename to '%s'?"
  CF_OverwriteYN,            "Overwrite file '%s' in '%s' ?"
  DS_AnotherDisk,            "This disk is part of a backup set,\nplease insert another disk"
  DS_AskDeleteFile,          "There is already a file %s\nDo you want to overwrite this file"
  DS_AskPrevFile,            "ATTENTION: This is previous disk no %d!!!\nAre you sure you want to overwrite the contents"
  DS_InDrive,                "\nin drive: %s"
  DS_InsertAVolume,          "Please insert disk volume %.1d"
  DS_InsertDisk,             "Please insert last disk"
  DS_InsertVolume,           "Please insert disk volume %.1d of %.1d"
  FM_Confirm,                "Confirm"
  FM_Erase,                  "Erase %s"
  PW_Caption,                "Password"
  PW_MessageConfirm,         "Confirm Password "
  PW_MessageEnter,           "Enter Password "
  ZB_Yes,                    "&Yes"
  ZB_No,                     "&No"
  ZB_OK,                     "&OK"
  ZB_Cancel,                 "&Cancel"
  ZB_Abort,                  "&Abort"
  ZB_Retry,                  "&Retry"
  ZB_Ignore,                 "&Ignore"
  ZB_CancelAll,              "CancelAll"
  ZB_NoToAll,                "NoToAll"
  ZB_YesToAll,               "YesToAll"
  AD_BadFileName,            "Invalid Filename"
  AD_DuplFileName,           "Duplicate Filename"
  AD_InIsOutStream,          "Input stream may not be set to the output stream"
  AD_InvalidEncode,          "Invalid encoding options"
  AD_InvalidName,            "Wildcards are not allowed in Filename or file specification"
  AD_InvalidZip,             "Invalid zip file"
  AD_NoDestDir,              "Destination directory '%s' must exist!"
  AD_UnattPassword,          "Unattended action not possible without a password"
  AZ_SameAsSource,           "source and destination on same removable drive"
  CD_CEHDataSize,            "The combined length of CEH + FileName + FileComment + ExtraData exceeds 65535"
  CD_NoChangeDir,            "Cannot change path"
  CD_NoProtected,            "Cannot change details of Encrypted file"
  CF_NoDest,                 "No destination specified"
  CF_SourceIsDest,           "Source archive is the same as the destination archive!"
  CZ_InputNotExe,            "Error: input file is not an .EXE file"
  DS_BadDrive,               "cannot use drive"
  DS_CEHWrongSig,            "A central header signature is wrong"
  DS_DriveNoMount,           "Drive %s is NOT defined"
  DS_NoDiskSpace,            "This disk has not enough free space available"
  DS_NoEncrypt,              "encryption not supported"
  DS_NoInFile,               "Input file does not exist"
  DS_NotaDrive,              "Not a valid drive: %s"
  DS_NotChangeable,          "Cannot write to %s"
  DS_NoUnattSpan,            "Unattended disk spanning not implemented"
  DS_NoValidZip,             "This archive is not a valid Zip archive"
  DS_Unsupported,            "Unsupported zip version"
  EX_NoExtrDir,              "Extract directory '%s' must exist"
  EX_UnAttPassword,          "Warning - Unattended Extract: possible not all files extracted"
  GE_InvalidArguments,       "Invalid Arguments"
  GE_InvalidParameter,       "Invalid Parameter! '%s'"
  GE_NoZipSpecified,         "Error - no zip file specified!"
  GE_WrongPassword,          "Error - passwords do NOT match\nPassword ignored"
  RN_InvalidDateTime,        "Invalid date/time argument for file: "
  SF_DetachedHeaderTooBig,   "Detached SFX Header too large"
  SF_NoZipSFXBin,            "Error: SFX stub '%s' not found!"
  SF_StringTooLong,          "Error: Combined SFX strings unreasonably long!"
  AD_AutoSFXWrong,           "Error %.1d occurred during Auto SFX creation."
  AZ_InternalError,          "Internal error"
  CF_CopyFailed,             "Copying a file from '%s' to '%s' failed"
  CF_SFXCopyError,           "Error while copying the SFX data"
  CZ_BrowseError,            "Error while browsing resources."
  CZ_ExeSections,            "Error while reading executable sections."
  CZ_NoCopyIcon,             "Cannot copy icon."
  CZ_NoExeIcon,              "No icon resources found in executable."
  CZ_NoExeResource,          "No resources found in executable."
  CZ_NoIcon,                 "No icon found."
  CZ_NoIconFound,            "No matching icon found."
  DS_BadCRC,                 "CRC error"
  DS_CECommentLen,           "Error while reading a file comment"
  DS_CEHBadRead,             "Error while reading a central header"
  DS_CEHBadWrite,            "Error while writing a central header"
  DS_CENameLen,              "Error while reading a central file name"
  DS_CopyError,              "File copy error"
  DS_DataCopy,               "Error copying compressed data"
  DS_DataDesc,               "Error while reading/writing a data descriptor area"
  DS_EOCBadRead,             "Error while reading the End Of Central Directory"
  DS_EOCBadWrite,            "Error while writing the End Of Central Directory"
  DS_ErrorUnknown,           "UnKnown error in function ReadSpan(), WriteSpan(), ChangeFileDetails() or CopyZippedFiles()\n"
  DS_FailedSeek,             "Seek error in input file"
  DS_FileChanged,            "File changed"
  DS_FileError,              "File Error"
  DS_FileOpen,               "Zip file could not be opened"
  DS_LOHBadRead,             "Error while reading a local header"
  DS_LOHBadWrite,            "Error while writing a local header"
  DS_LOHWrongName,           "Local and Central names different : %s"
  DS_NoAppend,               "Append failed"
  DS_NoInStream,             "No input stream"
  DS_NoMem,                  "Not enough memory to display MsgBox"
  DS_NoOutFile,              "Creation of output file failed"
  DS_NoOutStream,            "No output stream"
  DS_NoTempFile,             "Temporary file could not be created"
  DS_NoVolume,               "Volume label could not be set"
  DS_NoWrite,                "Write error in output file"
  DS_ReadError,              "Error reading file"
  DS_SeekError,              "File seek error"
  DS_SFXBadRead,             "Error reading SFX"
  DS_TooManyParts,           "More than 999 parts in multi volume archive"
  DS_WriteError,             "Error writing file"
  DS_Zip64FieldError,        "Error reading Zip64 field"
  GE_DLLCritical,            "critical DLL Error %d"
  GE_Except,                 "Exception in Event handler "
  GE_ExceptErr,              "Error Exception: "
  GE_FatalZip,               "Fatal Error in DLL: abort exception"
  GE_FileChanged,            "Zip file was changed!"
  GE_Inactive,               "not Active"
  GE_NoMem,                  "Requested memory not available"
  GE_RangeError,             "Index (%d) outside range 0..%d"
  GE_Unknown,                " Unknown error %d"
  GE_WasBusy,                "Busy + %s"
  GE_NoProcess,              "Cannot process invalid zip"
  LI_ErrorUnknown,           "Unknown error in List() function"
  LI_ReadZipError,           "Seek error reading Zip archive!"
  DS_SetDateError,		     "Error setting file date"
  GE_GeneralError,		     "Unspecified error "
  GE_SystemError,		     "System error "
  GE_SysErr,				 " [$%x] %s"
  TM_Deleting,               "EraseFloppy - Deleting %s"
  TM_Erasing,                "EraseFloppy - Removing %s"
  TM_GetNewDisk,             "Trace : GetNewDisk Opening: %s"
  TM_SystemError,            "System error: %d"
  TM_Trace,                  "Trace: "
  TM_Verbose,                "info: "
  DZ_RES_GOOD,               "Good"
  DZ_RES_CANCELLED,          "Cancelled"
  DZ_RES_ABORT,              "Aborted by User!"
  DZ_RES_CALLBACK,           "Callback exception"
  DZ_RES_MEMORY,             "No memory"
  DZ_RES_STRUCT,             "Invalid structure"
  DZ_RES_ERROR,              "Fatal error"
  DZ_RES_PASSWORD_FAIL,      "Password failed!"
  DZ_RES_PASSWORD_CANCEL,    "Password cancelled!"
  DZ_RES_INVAL_ZIP,          "Invalid zip structure!"
  DZ_RES_NO_CENTRAL,         "No Central directory!"
  DZ_RES_ZIP_EOF,            "Unexpected end of Zip file!"
  DZ_RES_ZIP_END,            "Premature end of file!"
  DZ_RES_ZIP_NOOPEN,         "Error opening Zip file!"
  DZ_RES_ZIP_MULTI,          "Multi-part Zips not supported!"
  DZ_RES_NOT_FOUND,          "File not found!"
  DZ_RES_LOGIC_ERROR,        "Internal logic error!"
  DZ_RES_NOTHING_TO_DO,      "Nothing to do!"
  DZ_RES_BAD_OPTIONS,        "Bad Options specified!"
  DZ_RES_TEMP_FAILED,        "Temporary file failure!"
  DZ_RES_NO_FILE_OPEN,       "File not found or no permission!"
  DZ_RES_ERROR_READ,         "Error reading file!"
  DZ_RES_ERROR_CREATE,       "Error creating file!"
  DZ_RES_ERROR_WRITE,        "Error writing file!"
  DZ_RES_ERROR_SEEK,         "Error seeking in file!"
  DZ_RES_EMPTY_ZIP,          "Missing or empty zip file!"
  DZ_RES_INVAL_NAME,         "Invalid characters in filename!"
  DZ_RES_GENERAL,            "Error "
  DZ_RES_MISS,               "Nothing found"
  DZ_RES_WARNING,            "Warning: "
  DZ_ERR_ERROR_DELETE,       "Delete failed"
  DZ_ERR_FATAL_IMPORT,       "Fatal Error - could not import symbol!"
  DZ_ERR_SKIPPING,           "Skipping: "
  DZ_ERR_LOCKED,             "File locked"
  DZ_ERR_DENIED,             "Access denied"
  DZ_ERR_DUPNAME,            "Duplicate internal name"
  DZ_ERR_SKIPPED,			 "Skipped files"
  DT_Author,                 "R.Peters"
  DT_Desc,                   "Language Neutral"
  DT_Language,               "US: default"
}
