// US: default
#include "ZipMsg.h"
/* **************************************************
TZipMaster VCL originally by Chris Vleghert, Eric W. Engler.
  Present Maintainers and Authors Roger Aelbrecht and Russell Peters.
Copyright (C) 1997-2002 Chris Vleghert and Eric W. Engler
Copyright (C) 1992-2008 Eric W. Engler
Copyright (C) 2009, 2010, 2011 Russell Peters and Roger Aelbrecht
 
All rights reserved.
For the purposes of Copyright and this license "DelphiZip" is the current
 authors, maintainers and developers of its code:
  Russell Peters and Roger Aelbrecht.
 
Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:
* Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
* DelphiZip reserves the names "DelphiZip", "ZipMaster", "ZipBuilder",
   "DelZip" and derivatives of those names for the use in or about this
   code and neither those names nor the names of its authors or
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 ARE DISCLAIMED. IN NO EVENT SHALL DELPHIZIP, IT'S AUTHORS OR CONTRIBUTERS BE
 LIABLE FOR ANYDIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 CONTRACT, STRICT LIABILITY, OR TORT(INCLUDING NEGLIGENCE OR OTHERWISE)
 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.
 
contact: problems AT delphizip DOT org
updates: http://www.delphizip.org
************************************************** */
//Modified 2013-06-05
 
STRINGTABLE LANGUAGE 9, 1 // 0x0409
{
  ZA_ID,					 "$0409"
  ZA_Author,                 "R.Peters"
  ZA_Desc,                   "Language Neutral"
  ZA_Language,               "US: default"
  ZS_Success,				 "Success"
  ZS_UnknownError,           "Unknown Error"
  ZS_Canceled,               "User canceled operation"
  ZS_CopyCentral,            "Central directory"
  ZS_Abort,                  "User Abort"
  ZS_Copying,                "Copying: %s"
  ZS_Skipped,                "Skipped %s %d"
  ZS_TempZip,                "Temporary zipfile: %s"
  ZS_DllLoaded,              "Loaded %s"
  ZS_DllUnloaded,            "Unloaded %s"
  ZS_LoadErr,                "Error [%d %s] loading %s"
  ZS_NothingToZip,           "Error - no files to zip!"
  ZS_NothingToDo,            "Nothing to do"
  ZS_NothingToDel,           "Error - no files selected for deletion"
  ZS_NoRenamePart,           "Last part left as : %s"
  ZS_EventEx,                "Exception in Event "
  ZS_NoSkipping,             "Skipping not allowed"
  ZS_BadDll,                 "Unable to load %s - It is old or corrupt"
  ZS_NoDll,                  "Failed to load %s%s"
  ZS_WrongZipStruct,         "Warning - Error in zip structure!"
  ZC_UnatAddPWMiss,          "Error - no add password given"
  ZC_UnatExtPWMiss,          "Error - no extract password given"
  ZS_NoStreamSpan,			 "Multi-parts not supported on streams!"
  ZS_BuildPathError,		 "Error building path '%s'"
  ZP_Archive,                "*Resetting Archive bit"
  ZP_CopyZipFile,            "*Copying Zip File"
  ZP_SFX,                    "*SFX"
  ZP_Header,                 "*??"
  ZP_Finish,                 "*Finalising"
  ZP_Copying,                "*Copying"
  ZP_CentrlDir,              "*Writing Central Directory"
  ZP_Checking,               "*Checking"
  ZP_Loading,                "*Loading Directory"
  ZP_Joining,                "*Joining split zip file"
  ZP_Splitting,              "*Splitting zip file"
  ZP_Writing,                "*Writing zip file"
  ZP_PreCalc,                "*Precalculating CRC"
  ZP_Processing,             "*Processing"
  ZP_Merging,                "*Merging"
  ZS_FileConflict,           "File conflict!"
  ZS_Merge,                  "'%s'\nwill overwrite\n '%s'\nRename to '%s'?"
  ZS_AnotherDisk,            "This disk is part of a backup set,\nplease insert another disk"
  ZS_AskDeleteFile,          "There is already a file %s\nDo you want to overwrite this file"
  ZS_AskPrevFile,            "ATTENTION: This is previous disk no %d!!!\nAre you sure you want to overwrite the contents"
  ZS_InDrive,                "\nin drive: %s"
  ZS_InsertAVolume,          "Please insert disk volume %.1d"
  ZS_InsertDisk,             "Please insert last disk"
  ZS_InsertVolume,           "Please insert disk volume %.1d of %.1d"
  ZS_Confirm,                "Confirm"
  ZS_Erase,                  "Erase %s"
  ZC_Caption,                "Password"
  ZC_MessageConfirm,         "Confirm Password "
  ZC_MessageEnter,           "Enter Password "
  ZC_Yes,                    "&Yes"
  ZC_No,                     "&No"
  ZC_OK,                     "&OK"
  ZC_Cancel,                 "&Cancel"
  ZC_Abort,                  "&Abort"
  ZC_Retry,                  "&Retry"
  ZC_Ignore,                 "&Ignore"
  ZC_CancelAll,              "CancelAll"
  ZC_NoToAll,                "NoToAll"
  ZC_YesToAll,               "YesToAll"
  ZS_BadFileName,            "Invalid Filename"
  ZS_DuplFileName,           "Duplicate Filename"
  ZS_InIsOutStream,          "Input stream may not be set to the output stream"
  ZS_InvalidName,            "Wildcards are not allowed in Filename or file specification"
  ZS_InvalidZip,             "Invalid zip file"
  ZS_NoDestDir,              "Destination directory '%s' must exist!"
  ZS_UnattPassword,          "Unattended action not possible without a password"
  ZS_SameAsSource,           "source and destination on same removable drive"
  ZS_CEHDataSize,            "The combined length of CEH + FileName + FileComment + ExtraData exceeds 65535"
  ZS_NoChangeDir,            "Cannot change path"
  ZS_NoProtected,            "Cannot change details of Encrypted file"
  ZS_SourceIsDest,           "Source archive is the same as the destination archive!"
  ZS_InputNotExe,            "Error: input file is not an .EXE file"
  ZS_CEHWrongSig,            "A central header signature is wrong"
  ZS_DriveNoMount,           "Drive %s is NOT defined"
  ZS_NoDiskSpace,            "This disk has not enough free space available"
  ZS_NoEncrypt,              "encryption not supported"
//  ZS_NoLanguage,			 "Could not find resource language files"
  ZS_NoInFile,               "Input file does not exist"
  ZS_StreamNoSupport,		 "Operation not supported on streams"
  ZS_NotChangeable,          "Cannot write to %s"
  ZS_NoUnattSpan,            "Unattended disk spanning not implemented"
  ZS_NoValidZip,             "This archive is not a valid Zip archive"
  ZS_Unsupported,            "Unsupported zip version"
  ZS_NoExtrDir,              "Extract directory '%s' must exist"
  ZS_InvalidArguments,       "Invalid Arguments"
  ZS_InvalidParameter,       "Invalid Parameter! '%s'"
  ZS_NoZipSpecified,         "Error - no zip file specified!"
  ZS_WrongPassword,          "Error - passwords do NOT match\nPassword ignored"
  ZS_InvalidDateTime,        "Invalid date/time argument for file: "
  ZS_DetachedHeaderTooBig,   "Detached SFX Header too large"
  ZS_NoZipSFXBin,            "Error: SFX stub '%s' not found!"
  ZS_StringTooLong,          "Error: Combined SFX strings unreasonably long!"
  ZS_AutoSFXWrong,           "Error %.1d occurred during Auto SFX creation."
  ZS_InternalError,          "Internal error"
  ZS_CopyFailed,             "Copying a file from '%s' to '%s' failed"
  ZS_SFXCopyError,           "Error while copying the SFX data"
  ZS_BrowseError,            "Error while browsing resources."
  ZS_ExeSections,            "Error while reading executable sections."
  ZS_NoCopyIcon,             "Cannot copy icon."
  ZS_NoExeIcon,              "No icon resources found in executable."
  ZS_NoExeResource,          "No resources found in executable."
  ZS_NoIcon,                 "No icon found."
  ZS_NoIconFound,            "No matching icon found."
  ZS_BadCRC,                 "CRC error"
  ZS_CECommentLen,           "Error while reading a file comment"
  ZS_CEHBadRead,             "Error while reading a central header"
  ZS_CEHBadWrite,            "Error while writing a central header"
  ZS_CENameLen,              "Error while reading a central file name"
  ZS_CopyError,              "File copy error"
  ZS_DataCopy,               "Error copying compressed data"
  ZS_DataDesc,               "Error while reading/writing a data descriptor area"
  ZS_EOCBadRead,             "Error while reading the End Of Central Directory"
  ZS_EOCBadWrite,            "Error while writing the End Of Central Directory"
  ZS_ErrorUnknown,           "UnKnown error in function"
  ZS_FailedSeek,             "Seek error in input file"
  ZS_FileChanged,            "File changed"
  ZS_FileError,              "File Error"
  ZS_FileOpen,               "Zip file could not be opened"
  ZS_LOHBadRead,             "Error while reading a local header"
  ZS_LOHBadWrite,            "Error while writing a local header"
  ZS_LOHWrongName,           "Local and Central names different : %s"
  ZS_NoAppend,               "Append failed"
  ZS_NoInStream,             "No input stream"
  ZS_NoOutFile,              "Creation of output file failed"
  ZS_NoOutStream,            "No output stream"
  ZS_NoTempFile,             "Temporary file could not be created"
  ZS_NoVolume,               "Volume label could not be set"
  ZS_NoWrite,                "Write error in output file"
  ZS_ReadError,              "Error reading file"
  ZS_SeekError,              "File seek error"
  ZS_SFXBadRead,             "Error reading SFX"
  ZS_TooManyParts,           "More than 999 parts in multi volume archive"
  ZS_WriteError,             "Error writing file"
  ZS_Zip64FieldError,        "Error reading Zip64 field"
  ZS_SetFileAttributes,		 "Error setting file attributes"
  ZS_SetFileTimes,		 	 "Error setting file times"
  ZS_DLLCritical,            "critical DLL Error %d"
  ZS_Except,                 "Exception in Event handler "
  ZS_ExceptErr,              "Error Exception: "
  ZS_FatalZip,               "Fatal Error in DLL: abort exception"
  ZS_Inactive,               "not Active"
  ZS_NoMem,                  "Requested memory not available"
  ZS_RangeError,             "Index (%d) outside range 0..%d"
  ZS_Unknown,                " Unknown error %d"
  ZS_NoProcess,              "Cannot process invalid zip"
  ZS_ReadZipError,           "Seek error reading Zip archive!"
  ZS_SetDateError,		     "Error setting file date"
  ZS_ZipDataError,			 "Zip data error"
  ZS_CryptError,			 "Crypt error"
  ZS_Blocked,				 "Busy or not Active"
  ZS_Deleting,               "EraseFloppy - Deleting %s"
  ZS_Erasing,                "EraseFloppy - Removing %s"
  ZS_GetNewDisk,             "GetNewDisk Opening: %s"
  ZS_InvalidEntry,			 "Invalid zip entry!"
  ZS_LogicError,			 "Internal logic error!"
  ZS_PasswordCancel,    	 "Password cancelled!"
  ZS_PasswordFail,     		 "Password failed!"
  ZD_RES_GOOD,               "Good"
  ZD_RES_CANCELLED,          "Cancelled"
  ZD_RES_ABORT,              "Aborted by User!"
  ZD_RES_CALLBACK,           "Callback exception"
  ZD_RES_MEMORY,             "No memory"
  ZD_RES_STRUCT,             "Invalid structure"
  ZD_RES_ERROR,              "Fatal error"
  ZD_RES_PASSWORD_FAIL,      "Password failed!"
  ZD_RES_PASSWORD_CANCEL,    "Password cancelled!"
  ZD_RES_INVAL_ZIP,          "Invalid zip structure!"
  ZD_RES_NO_CENTRAL,         "No Central directory!"
  ZD_RES_ZIP_EOF,            "Unexpected end of Zip file!"
  ZD_RES_ZIP_END,            "Premature end of file!"
  ZD_RES_ZIP_NOOPEN,         "Error opening Zip file!"
  ZD_RES_ZIP_MULTI,          "Multi-part Zips not supported!"
  ZD_RES_NOT_FOUND,          "File not found!"
  ZD_RES_LOGIC_ERROR,        "Internal logic error!"
  ZD_RES_NOTHING_TO_DO,      "Nothing to do!"
  ZD_RES_BAD_OPTIONS,        "Bad Options specified!"
  ZD_RES_TEMP_FAILED,        "Temporary file failure!"
  ZD_RES_NO_FILE_OPEN,       "File not found or no permission!"
  ZD_RES_ERROR_READ,         "Error reading file!"
  ZD_RES_ERROR_CREATE,       "Error creating file!"
  ZD_RES_ERROR_WRITE,        "Error writing file!"
  ZD_RES_ERROR_SEEK,         "Error seeking in file!"
  ZD_RES_EMPTY_ZIP,          "Missing or empty zip file!"
  ZD_RES_INVAL_NAME,         "Invalid characters in filename!"
  ZD_RES_GENERAL,            "Error "
  ZD_RES_MISS,               "Nothing found"
  ZD_RES_WARNING,            "Warning: "
  ZD_ERR_ERROR_DELETE,       "Delete failed"
  ZD_ERR_FATAL_IMPORT,       "Fatal Error - could not import symbol!"
  ZD_ERR_SKIPPING,           "Skipping: "
  ZD_ERR_LOCKED,             "File locked"
  ZD_ERR_DENIED,             "Access denied"
  ZD_ERR_DUPNAME,            "Duplicate internal name"
  ZD_ERR_SKIPPED,			 "Skipped files"
}
