// KO: Korean
#include "ZipMsg.h"
/* **************************************************
TZipMaster VCL originally by Chris Vleghert, Eric W. Engler.
  Present Maintainers and Authors Roger Aelbrecht and Russell Peters.
Copyright (C) 1997-2002 Chris Vleghert and Eric W. Engler
Copyright (C) 1992-2008 Eric W. Engler
Copyright (C) 2009, 2010, 2011 Russell Peters and Roger Aelbrecht
 
All rights reserved.
For the purposes of Copyright and this license "DelphiZip" is the current
 authors, maintainers and developers of its code:
  Russell Peters and Roger Aelbrecht.
 
Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:
* Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
* DelphiZip reserves the names "DelphiZip", "ZipMaster", "ZipBuilder",
   "DelZip" and derivatives of those names for the use in or about this
   code and neither those names nor the names of its authors or
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 ARE DISCLAIMED. IN NO EVENT SHALL DELPHIZIP, IT'S AUTHORS OR CONTRIBUTERS BE
 LIABLE FOR ANYDIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 CONTRACT, STRICT LIABILITY, OR TORT(INCLUDING NEGLIGENCE OR OTHERWISE)
 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.
 
contact: problems AT delphizip DOT org
updates: http://www.delphizip.org
************************************************** */
//Generated 2011-11-14
 
STRINGTABLE LANGUAGE 0x12, 1 // 0x0412
{
  ZS_Canceled,               "사용자 작동 취소"
  ZS_CopyCentral,            "Central directory"
  ZS_DllLoaded,              "%s 이 적재되었습니다."
  ZS_NothingToZip,           "에러 - 압축할 파일이 없습니다!"
  ZS_NothingToDel,           "에러 - 삭제하기위해 선택된 파일이 없습니다."
  DS_NoDiskSpan,             "Disk Spanning not supported"
  ZS_BadDll,                 "다음에서 이전 버전의 %s을 적재하려고 시도 하였습니다. - "
  ZS_NoDll,                  "%s을 찾을 수 없습니다!"
  ZS_WrongZipStruct,         "경고 - 잘못된 압축 구조!"
  ZC_UnatAddPWMiss,          "에러 - 추가(ADD) 암호가 주어지지 않았습니다."
  ZC_UnatExtPWMiss,          "에러 - 풀기(Extract) 암호가 주어지지 않았습니다."
  CF_OverwriteYN,            "'%s'파일을 덮어쓸까요? [in '%s']"
  ZS_AskDeleteFile,          "이미 %s 파일이 있습니다.\n이 파일을 덮어 쓰시겠습니까?"
  ZS_AskPrevFile,            "주의 : 이것은 %d 번 이전 디스크입니다.\n내용을 덮어 쓰시겠습니까?"
  ZS_InDrive,                "\nin drive: %s"
  ZS_InsertAVolume,          "볼륨이 %.1d인 디스크를 넣으세요."
  ZS_InsertDisk,             "마지막 디스크를 넣으세요."
  ZS_InsertVolume,           "볼륨이 %.1d / %.1d 인 디스크를 넣으세요."
  ZC_Caption,                "암호"
  ZC_MessageConfirm,         "암호 확인 "
  ZC_MessageEnter,           "암호 입력 "
  ZC_OK,                     "확인(&O)"
  ZC_Cancel,                 "취소(&C)"
  ZC_Abort,                  "중지"
  ZC_CancelAll,              "모두 취소"
  ZS_InIsOutStream,          "입력 스트림은 출력스트림에 설정되지 못할 수도 있습니다."
  ZS_InvalidName,            "파일이름 또는 파일지정에 대표문자(Wildcard)를 사용하실 수 없습니다."
  ZS_UnattPassword,          "Unattended action not possible without a password"
  ZS_SourceIsDest,           "원본과 대상 압축데이터가 동일합니다!"
  ZS_InputNotExe,            "에러 : 입력파일이 실행파일(.EXE)이 아닙니다."
  ZS_CEHWrongSig,            "Central Header Signature가 잘못되었습니다."
  ZS_DriveNoMount,           "드라이브 %s가 선언되지 않았습니다."
  ZS_NoDiskSpace,            "이 디스크는 가용메모리가 충분하지 않습니다."
  ZS_NoInFile,               "입력파일이 존재하지 않습니다."
  DS_NotaDrive,              "유효한 드라이브가 아닙니다 : %s"
  ZS_NoUnattSpan,            "Unattended disk spanning not implemented"
  ZS_NoValidZip,             "유효하지 않은 ZIP파일입니다."
  ZS_UnAttPassword,          "경고 - 풀기 누락 : 모든 파일이 풀리지 않을 수 있습니다."
  ZS_NoZipSpecified,         "에러 - 압축파일(ZIP)파일이 지정되지 않았습니다."
  ZS_WrongPassword,          "에러 - 암호가 일치하지 않습니다.\n암호가 무시되었습니다."
  ZS_NoZipSFXBin,            "에러 - %s을 찾을 수 없습니다."
  ZS_StringTooLong,          "에러 - 문자열이 255글자를 초과하였습니다."
  ZS_AutoSFXWrong,           "자동으로 SFX를 생성하는 동안 에러 %.1d이 발생하였습니다."
  ZS_CopyFailed,             "'%s'에서 '%s'(으)로 복사하는데 실패하였습니다."
  ZS_SFXCopyError,           "SFX 데이터를 복사하는 동안 에러가 발생하였습니다."
  ZS_CECommentLen,           "파일주석을 읽는 동안 오류발생"
  ZS_CEHBadRead,             "Central Header를 읽는 동안 오류발생"
  ZS_CEHBadWrite,            "Central Header를 쓰는 동안 에러발생"
  ZS_CENameLen,              "Central 파일이름을 읽는 동안 오류발생"
  ZS_DataDesc,               "자료설명영역을 읽는(쓰는) 동안 오류발생"
  ZS_EOCBadRead,             "Central Directory의 끝부분을 읽는 동안 오류발생."
  ZS_EOCBadWrite,            "Central Directory의 마지막 부분을 쓰는 동안 오류발생"
  ZS_ErrorUnknown,           "ReadSpan(), WriteSpan(), Rename() 또는 CopyZippedFiles() 함수에서 알 수 없는 에러 발생\n"
  ZS_FailedSeek,             "입력파일에서 위치 탐색 오류"
  ZS_FileOpen,               "압축파일(ZIP)을 열 수 없습니다."
  ZS_LOHBadRead,             "Local Header를 읽는 동안 오류발생"
  ZS_LOHBadWrite,            "Local Header를 쓰는 동안 에러발생"
  DS_NoMem,                  "메시지윈도우(MsgBox)를 표시하기에 메모리가 충분하지 않습니다."
  ZS_NoOutFile,              "대상파일 생성 실패"
  ZS_NoTempFile,             "임시 파일을 생성할 수 없습니다."
  ZS_NoVolume,               "볼륨레벨을 설정할 수 없습니다."
  ZS_NoWrite,                "대상파일 쓰기 오류"
  ZS_FatalZip,               "DelZip179.DLL에서 심각한 에러가 발생: 중지예외"
  ZS_NoMem,                  "요청된 메모리가 유효하지 않습니다."
  LI_ErrorUnknown,           "List() 함수에서 알려지지 않은 에러가 발생하였습니다.\n"
  ZS_ReadZipError,           "압축파일(ZIP)을 읽는 동안 위치탐색 에러가 발생하였습니다!"
  ZX_Language,               "KO: Korean"
}
