// GR: Greek
#include "ZipMsg.h"
/* **************************************************
TZipMaster VCL originally by Chris Vleghert, Eric W. Engler.
  Present Maintainers and Authors Roger Aelbrecht and Russell Peters.
Copyright (C) 1997-2002 Chris Vleghert and Eric W. Engler
Copyright (C) 1992-2008 Eric W. Engler
Copyright (C) 2009, 2010, 2011 Russell Peters and Roger Aelbrecht
 
All rights reserved.
For the purposes of Copyright and this license "DelphiZip" is the current
 authors, maintainers and developers of its code:
  Russell Peters and Roger Aelbrecht.
 
Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:
* Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
* DelphiZip reserves the names "DelphiZip", "ZipMaster", "ZipBuilder",
   "DelZip" and derivatives of those names for the use in or about this
   code and neither those names nor the names of its authors or
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 ARE DISCLAIMED. IN NO EVENT SHALL DELPHIZIP, IT'S AUTHORS OR CONTRIBUTERS BE
 LIABLE FOR ANYDIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 CONTRACT, STRICT LIABILITY, OR TORT(INCLUDING NEGLIGENCE OR OTHERWISE)
 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.
 
contact: problems AT delphizip DOT org
updates: http://www.delphizip.org
************************************************** */
//Generated 2011-11-14
 
STRINGTABLE LANGUAGE 8, 1 // 0x0408
{
  ZS_Canceled,               "АбчирйЮ Шзц лжд оиуйлЮ"
  ZS_DllLoaded,              "%s ФжилщЯЮбЬ"
  ZS_NothingToZip,           "СнсвгШ! - ГЬд мзсиожмд ШиоЬхШ йлж zip!"
  ZS_NothingToDel,           "СнсвгШ! - ГЬд мзсиожмд ЫаШвЬЪгтдШ ШиоЬхШ ЪаШ ЫаШЪиШну"
  ZS_NoDll,                  "ГЬд ЩитЯЮбЬ лж ШиоЬхж %s!"
  ZS_WrongZipStruct,         "Пижйжоу! - КсЯжк йлЮд Ыжгу лжм Zip!"
  ZC_UnatAddPWMiss,          "СнсвгШ! - ГЬд ЫцЯЮбЬ брЫабцк зижйЯубЮк"
  ZC_UnatExtPWMiss,          "СнсвгШ! - ГЬд ЫцЯЮбЬ брЫабцк ЬеШЪрЪук"
  ZS_AskDeleteFile,          "Тж ШиоЬхж %s мзсиоЬа уЫЮ!\nЯтвЬлШа дШ ЫаШЪиШну"
  ZS_AskPrevFile,            "ПРОСОХь: Амлу Ю ЫайбтлШ ЬхдШа Мж %d!!!\nДхйлЬ йхЪжмижк ЪаШ лЮд ЫаШЪиШну лЮк"
  ZS_InDrive,                "\nСлжд жЫЮЪц: %s"
  ZS_InsertDisk,             "ПШиШбШвщ ЬайсЪЬлШа лЮд лЬвЬмлШхШ ЫайбтлШ"
  ZS_InsertVolume,           "ПШиШбШвщ ЬайсЪЬлШа лЮд ЫайбтлШ гЬЪтЯжмк %.1d of %.1d"
  ZS_UnattPassword,          "Ж АймдцЫЬмлЮ зисеЮ орихк ЙрЫабцк ЫЬд ЬхдШа ЫмдШлу"
  ZS_InputNotExe,            "СнсвгШ!: Тж ЬайЬиоцгЬдж ШиоЬхж ЫЬд ЬхдШа .EXE"
  ZS_CEHWrongSig,            "Ж мзжЪиШну лЮк бЬдлиабук ЬзабЬнШвхЫШк ЬхдШа вШдЯШйгтдЮ"
  ZS_DriveNoMount,           "ЛЮ бШЯжиайгтджк жЫЮЪцк: %s"
  ZS_NoDiskSpace,            "ГЬд мзсиоЬа ж ШзШиШхлЮлжк ощижк йлжд Ыхйбж"
  ZS_NoInFile,               "Тж ЬайЬиоцгЬдж ШиоЬхж ЫЬд мзсиоЬа"
  DS_NotaDrive,              "ЛЮ тЪбмижк жЫЮЪцк : %s"
  ZS_NoUnattSpan,            "АдЬзхЩвЬзлЮ ЫаШощиайЮ ЫайбтлШк ЫЬд тоЬа мвжзжаЮЯЬх"
  ZS_NoValidZip,             "Тж ШиоЬхж ЫЬд ЬхдШа тЪбмиж Zip"
  ZS_UnAttPassword,          "Пижйжоу! - АймдцЫЬмлЮ ДеШЪрЪу: гзжиЬх дШ гЮд ЬеШЪуЯжмд цвШ лШ ШиоЬхШ"
  ZS_NoZipSpecified,         "СнсвгШ! - ГЬд ПижйЫариайлЮбЬ бШдтдШ Zip ШиоЬхж!"
  ZS_WrongPassword,          "СнсвгШ! - О ЙрЫабцк ЫЬд лШаиасЭЬа\nО ЙрЫабцк ШЪджЬхлШа"
  ZS_NoZipSFXBin,            "СнсвгШ! - ГЬд ЩитЯЮбЬ лж ШиоЬхж %s!"
  ZS_StringTooLong,          "СнсвгШ! - ГЬд ЫаШвтблЮбШд ШиоЬхШ ЪаШ ЫаШЪиШну - Тж ймджвабц гтЪЬЯжк лрд (3)лиащд бЬагтдрд зЬиажмйащд еЬзЬидс лШ 245!"
  ZS_CECommentLen,           "СнсвгШ ШдШЪдщиайЮк йлж ШиоЬхж зШиШлЮиуйЬрд"
  ZS_CEHBadRead,             "СнсвгШ ШдШЪдщиайЮк йлЮд бЬдлиабу ЬзабЬнШвхЫШ"
  ZS_CEHBadWrite,            "СнсвгШ ЬЪЪиШнук йлЮд бЬдлиабу ЬзабЬнШвхЫШ"
  ZS_CENameLen,              "СнсвгШ ШдШЪдщиайЮк йлж бЬдлиабц ШиоЬхж"
  ZS_DataDesc,               "СнсвгШ ШдШЪдщиайЮк/ЬЪЪиШнук йлЮд зЬиажоу ЫаШбиалщд ЫЬЫжгтдрд"
  ZS_EOCBadRead,             "СнсвгШ ШдШЪдщиайЮк йлж лтвжк лжм бЬдлиабжч бШлШвцЪжм"
  ZS_EOCBadWrite,            "СнсвгШ ЬЪЪиШнук йлж лтвжк лжм бЬдлиабжч бШлШвцЪжм"
  ZS_ErrorUnknown,           "ъЪдрйлж СнсвгШ йлЮд вЬалжмиЪхШ ReadSpan() у WriteSpan()"
  ZS_FailedSeek,             "СнсвгШ ШдШЭулЮйЮк йлж ШиоЬхж ЬайШЪрЪук"
  ZS_FileOpen,               "Тж ШиоЬхж Zip ЫЬд гзжиЬх дШ Шджаблу"
  ZS_LOHBadRead,             "СнсвгШ ШдШЪдщиайЮк йлЮд лжзабу ЬзабЬнШвхЫШ"
  ZS_LOHBadWrite,            "СнсвгШ ЬЪЪиШнук йлЮд лжзабу ЬзабЬнШвхЫШ"
  DS_NoMem,                  "ГЬд мзсиоЬа ШибЬлу гдугЮ дШ зШижмйаШйлЬх лж MsgBox"
  ZS_NoOutFile,              "ГЮгажмиЪхШ ЬеШЪцгЬджм ШиоЬхжм ШзжлмоЮгтдЮ"
  ZS_NoTempFile,             "АЫчдШлЮ ЫЮгажмиЪхШ зижйриаджч ШиоЬхжм"
  ZS_NoVolume,               "Тж гтЪЬЯжк ЬлабтлШк ЫЬд гзжиЬх дШ ЯЬлЮЯЬх"
  ZS_NoWrite,                "СнсвгШ ЬЪЪиШнук йлж ЬеШЪцгЬдж ШиоЬхж"
  ZS_FatalZip,               "АЫациЯжлж йнсвгШ йлж DelZip179.DLL: ШбчирйЮ ЬеШхиЬйЮк"
  ZS_NoMem,                  "ГЬд мзсиоЬа Ю ШзШалжчгЬдЮ гдугЮ"
  LI_ErrorUnknown,           "ъЪдрйлж всЯжк йлЮд КЬалжмиЪхШ List()"
  ZS_ReadZipError,           "КсЯжк ШдШЭулЮйЮк ГаШЩсЭждлШк лж Zip АиоЬхж!"
  ZX_Language,               "GR: Greek"
}
