// CT: Catalan
#include "ZipMsg.h"
/* **************************************************
TZipMaster VCL originally by Chris Vleghert, Eric W. Engler.
  Present Maintainers and Authors Roger Aelbrecht and Russell Peters.
Copyright (C) 1997-2002 Chris Vleghert and Eric W. Engler
Copyright (C) 1992-2008 Eric W. Engler
Copyright (C) 2009, 2010, 2011 Russell Peters and Roger Aelbrecht
 
All rights reserved.
For the purposes of Copyright and this license "DelphiZip" is the current
 authors, maintainers and developers of its code:
  Russell Peters and Roger Aelbrecht.
 
Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:
* Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
* DelphiZip reserves the names "DelphiZip", "ZipMaster", "ZipBuilder",
   "DelZip" and derivatives of those names for the use in or about this
   code and neither those names nor the names of its authors or
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 ARE DISCLAIMED. IN NO EVENT SHALL DELPHIZIP, IT'S AUTHORS OR CONTRIBUTERS BE
 LIABLE FOR ANYDIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 CONTRACT, STRICT LIABILITY, OR TORT(INCLUDING NEGLIGENCE OR OTHERWISE)
 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.
 
contact: problems AT delphizip DOT org
updates: http://www.delphizip.org
************************************************** */
//Generated 2011-11-14
 
STRINGTABLE LANGUAGE 3, 1 // 0x0403
{
  ZS_UnknownError,           "Error desconegut"
  ZS_Canceled,               "Operació cancel·lada per l'Usuari"
  ZS_CopyCentral,            "Directori central"
  ZS_Abort,                  "Cancel·lació per l'usuari"
  ZS_Copying,                "Copiant: %s"
  ZS_Skipped,                "Omès %s %d"
  ZS_TempZip,                "Fitxer zip temporal: %s"
  ZS_DllLoaded,              "Carregat %s"
  ZS_DllUnloaded,            "Descarregat %s"
  ZS_LoadErr,                "Error [%d %s] carregant %s"
  ZS_NothingToZip,           "Error - no hi ha arxius a comprimir!"
  ZS_NothingToDo,            "Res a fer"
  ZS_NothingToDel,           "Error - no s'han seleccionat arxius per a esborrar"
  DS_NoDiskSpan,             "El trossejat a diferents discs no està suportat"
  ZS_NoRenamePart,           "L'última part guardada com : %s"
  ZS_EventEx,                "Excepció en l'Event "
  ZS_NoSkipping,             "No permès ometre"
  ZS_NoDll,                  "Error carregant %s"
  ZS_WrongZipStruct,         "Precaució - Error en l'estructura del zip!"
  ZC_UnatAddPWMiss,          "Error - no s'ha donat la contrasenya per a afegir"
  ZC_UnatExtPWMiss,          "Error - no s'ha donat la contrasenya per a extraure"
  ZP_Archive,                "*Restablint el bit d'arxiu"
  ZP_CopyZipFile,            "*Copiant l'arxiu Zip"
  ZP_SFX,                    "*SFX"
  ZP_Header,                 "*??"
  ZP_Finish,                 "*Finalitzant"
  ZP_Copying,                "*Copiant"
  ZP_CentrlDir,              "*Directori Central"
  ZP_Checking,               "*Testejant"
  ZP_Loading,                "*Carregant Directori"
  ZP_Joining,                "*Ajuntant fitxer zip trossejat"
  ZP_Splitting,              "*Partint fitxer zip"
  ZP_Writing,                "*Escrivint el fitxer zip"
  ZP_PreCalc,                "*Pre-calculan el CRC"
  CF_OverwriteYN,            "Reescriure l'arxiu '%s' a '%s' ?"
  ZS_AnotherDisk,            "Aquest disc és part d'una còpia multi-volum,\nsi us plau introdueixi un altre disc"
  ZS_AskDeleteFile,          "Ja existeix un arxiu %s\nDesitja reescriure aquest arxiu?"
  ZS_AskPrevFile,            "ATENCIÓ: Aquest és el disc previ no el %d!!!\nEstà segur que desitja reescriure el seu contingut?"
  ZS_InDrive,                "\nen la unitat: %s"
  ZS_InsertAVolume,          "Per favor insereix el volum de disc %.1d"
  ZS_InsertDisk,             "Per favor insereix l'últim disc"
  ZS_InsertVolume,           "Per favor insereix el disc %.1d de %.1d"
  ZS_Confirm,                "Confirmar"
  ZS_Erase,                  "Eliminar "
  ZC_Caption,                "Contrasenya"
  ZC_MessageConfirm,         "Confirma la contrasenya "
  ZC_MessageEnter,           "Entra la contrasenya "
  ZC_Yes,                    "&Si"
  ZC_No,                     "&No"
  ZC_OK,                     "&OK"
  ZC_Cancel,                 "&Cancel·lar"
  ZC_Abort,                  "&Avortar"
  ZC_Retry,                  "&Re intentar"
  ZC_Ignore,                 "&Ignorar"
  ZC_CancelAll,              "Cancel·larTot"
  ZC_NoToAll,                "NoATot"
  ZC_YesToAll,               "SiATot"
  ZS_BadFileName,            "Nom de fitxer incorrecte"
  ZS_InIsOutStream,          "El corrent d'entrada no pot ser assignat al corrent de sortida"
  AD_InvalidEncode,          "Opcions de codificació incorrectes"
  ZS_InvalidName,            "Els caràcters comodí no són permesos en el nom de fitxer o en l'especificació d'un arxiu"
  ZS_NoDestDir,              "El directori destí '%s' ha d'existir!"
  ZS_UnattPassword,          "L'acció desatesa no és possible sense contrasenya"
  ZS_SameAsSource,           "origen i destí en el mateix disc extraïble"
  ZS_CEHDataSize,            "La combinació de CEH + NomFitxer + ComentariFitxer + DadesExtres excedeix 65535"
  ZS_NoChangeDir,            "No es pot canviar el path"
  ZS_NoProtected,            "No es poden canviar les propietats del fitxer Encriptat"
  CF_NoDest,                 "No s'ha especificat destinació"
  ZS_SourceIsDest,           "L'arxiu font és el mateix que el de destí!"
  ZS_InputNotExe,            "Error: l'arxiu d'entrada no és un arxiu .EXE"
  DS_BadDrive,               "no es pot utilitzar la unitat"
  ZS_CEHWrongSig,            "Una signatura de la Capçalera central és errònia"
  ZS_DriveNoMount,           "La unitat %s NO està definida"
  ZS_NoDiskSpace,            "Aquest disc no té suficient espai lliure disponible"
  ZS_NoEncrypt,              "encriptada no suportada"
  ZS_NoInFile,               "L'arxiu d'entrada no existeix"
  DS_NotaDrive,              "No és una unitat vàlida: %s"
  ZS_NotChangeable,          "No es pot escriure a %s"
  ZS_NoUnattSpan,            "Partir en forma desatesa no està implementat"
  ZS_NoValidZip,             "Aquest no és un arxiu zip vàlid"
  ZS_Unsupported,            "Versió Zip no suportada"
  ZS_NoExtrDir,              "El directori d'extracció '%s' ha de existir"
  ZS_UnAttPassword,          "Precaució - Extracció desatesa: possiblement no tots els arxius s'hagin extret"
  ZS_NoZipSpecified,         "Error - arxiu zip no especificat!"
  ZS_WrongPassword,          "Error - les contrasenyes no coincideixen\n Contrasenya ignorada"
  ZS_InvalidDateTime,        "Argument data/hora incorrecte per el fitxer: "
  ZS_DetachedHeaderTooBig,   "Capçalera del SFX independent massa gran"
  ZS_NoZipSFXBin,            "Error - %s no trobat!"
  ZS_StringTooLong,          "Error - Una o més de les 4 propietats de cadenes esmentades abans excedeixen els 255 caracters!"
  ZS_AutoSFXWrong,           "Error %.1d succeït durant la creació d'un SFX auto-extraïble"
  ZS_InternalError,          "Error intern"
  ZS_CopyFailed,             "Ha fallat la copia de l'arxiu des de '%s' a '%s'"
  ZS_SFXCopyError,           "Error mentre es copiava les dades del SFX"
  ZS_BrowseError,            "Error en la recerca de recursos."
  ZS_ExeSections,            "Error durant la lectura de les seccions de l'executable."
  ZS_NoCopyIcon,             "No es pot copiar la icona."
  ZS_NoExeIcon,              "No s'han trobat fons d'icona en l'executable."
  ZS_NoExeResource,          "No s'han trobat recursos en el executable."
  ZS_NoIcon,                 "No s'ha trobat la icona."
  ZS_NoIconFound,            "No s'ha trobat la icona associada."
  ZS_BadCRC,                 "Error de CRC"
  ZS_CECommentLen,           "Error llegint un comentari de fitxer"
  ZS_CEHBadRead,             "Error llegint la Capçalera central"
  ZS_CEHBadWrite,            "Error escrivint la capçalera central"
  ZS_CENameLen,              "Error llegint el nom d'arxiu central"
  ZS_CopyError,              "Error copiant l'arxiu"
  ZS_DataCopy,               "Error copiant dades comprimides"
  ZS_DataDesc,               "Error llegint/escrivint àrea de descriptor de dades"
  ZS_EOCBadRead,             "Error llegint el Final del Directori Central"
  ZS_EOCBadWrite,            "Error escrivint la Fi del Directori Central"
  ZS_ErrorUnknown,           "Error desconegut en la funció ReadSpan(), WriteSpan(), ChangeFileDetails() or CopyZippedFiles()\n"
  ZS_FailedSeek,             "Error de posicionament en l'arxiu d'entrada"
  ZS_FileChanged,            "Arxiu modificat"
  ZS_FileError,              "Error d'arxiu"
  ZS_FileOpen,               "L'arxiu zip no pot ser obert"
  ZS_LOHBadRead,             "Error llegint la Capçalera local"
  ZS_LOHBadWrite,            "Error escrivint la capçalera local"
  ZS_LOHWrongName,           "Noms Local i Central diferents : %s"
  ZS_NoInStream,             "No hi ha corrent d'entrada"
  DS_NoMem,                  "No hi ha suficient memòria per a mostrar MsgBox"
  ZS_NoOutFile,              "Ha fallat la creació de l'arxiu de sortida"
  ZS_NoOutStream,            "No hi ha corrent de sortida"
  ZS_NoTempFile,             "No s'ha pogut creat l'arxiu temporal"
  ZS_NoVolume,               "No es pot escriure l'etiqueta de volum"
  ZS_NoWrite,                "Error d'escriptura en l'arxiu de sortida"
  ZS_ReadError,              "Error llegint l'arxiu"
  ZS_SeekError,              "Error de cerca en el arxiu"
  ZS_SFXBadRead,             "Error llegint SFX"
  ZS_TooManyParts,           "Més de 999 parts en un arxiu multi-volum"
  ZS_WriteError,             "Error escrivint l'arxiu"
  ZS_Zip64FieldError,        "Error llegint camp Zip64"
  ZS_DLLCritical,            "Error crític de la DLL %d"
  ZS_Except,                 "Excepció en el gestor d' events "
  ZS_ExceptErr,              "Error d'excepció: "
  ZS_FatalZip,               "Error Fatal a la DLL: excepció avortar"
  ZS_FileChanged,            "El fitxer Zip ha canviat!"
  ZS_Inactive,               "no Actiu"
  ZS_NoMem,                  "Memòria sol·licitada no disponible"
  ZS_RangeError,             "Index (%d) fora del rang 1..%d"
  ZS_Unknown,                " Error desconegut %d"
  GE_WasBusy,                "En us + %s"
  LI_ErrorUnknown,           "Error desconegut en la funció List()\n"
  ZS_ReadZipError,           "Error de recerca llegint l'arxiu zip!"
  ZS_Deleting,               "EraseFloppy - Eliminant %s"
  ZS_Erasing,                "EraseFloppy - Esborrant %s"
  ZS_GetNewDisk,             "Traça : GetNewDisk Obrint: %s"
  TM_SystemError,            "Error de sistema: %d"
  TM_Trace,                  "Traça: "
  TM_Verbose,                "info: "
  ZD_RES_GOOD,               "Be"
  ZD_RES_CANCELLED,          "Cancel·lat"
  ZD_RES_ABORT,              "Avortat per l'Usuari!"
  ZD_RES_CALLBACK,           "Excepció de Callback"
  ZD_RES_MEMORY,             "No hi ha memòria"
  ZD_RES_STRUCT,             "Estructura incorrecte"
  ZD_RES_ERROR,              "Error fatal"
  ZD_RES_PASSWORD_FAIL,      "Contrasenya errònia!"
  ZD_RES_PASSWORD_CANCEL,    "Contrasenya cancel·lada!"
  ZD_RES_INVAL_ZIP,          "Estructura zip incorrecte!"
  ZD_RES_NO_CENTRAL,         "No hi ha directori Central!"
  ZD_RES_ZIP_EOF,            "Fi inesperat del fitxer Zip!"
  ZD_RES_ZIP_END,            "Fi de fitxer prematur!"
  ZD_RES_ZIP_NOOPEN,         "Error obrint fitxer Zip!"
  ZD_RES_ZIP_MULTI,          "Fitxers Multi-part Zip no suportats!"
  ZD_RES_NOT_FOUND,          "Fitxer no trobat!"
  ZD_RES_LOGIC_ERROR,        "Error de lògica interna!"
  ZD_RES_NOTHING_TO_DO,      "Res a fer!"
  ZD_RES_BAD_OPTIONS,        "Opcions especificades errònies!"
  ZD_RES_TEMP_FAILED,        "Fallo en el fitxer temporal!"
  ZD_RES_NO_FILE_OPEN,       "Fitxer no trobat o sense permisos!"
  ZD_RES_ERROR_READ,         "Error llegint el fitxer!"
  ZD_RES_ERROR_CREATE,       "Error creant el fitxer!"
  ZD_RES_ERROR_WRITE,        "Error escrivint el fitxer!"
  ZD_RES_ERROR_SEEK,         "Error cercant en el fitxer!"
  ZD_RES_EMPTY_ZIP,          "Fitxer zip omès o buit!"
  ZD_RES_INVAL_NAME,         "Caràcters incorrectes en el nom de fitxer!"
  ZD_RES_GENERAL,            "Error "
  ZD_RES_MISS,               "No s'ha trobat res"
  ZD_RES_WARNING,            "Atenció: "
  ZD_ERR_ERROR_DELETE,       "Ha fallat l'eliminació"
  ZD_ERR_FATAL_IMPORT,       "Error Fatal - no és pot importar el símbol!"
  ZD_ERR_SKIPPING,           "Ometen: "
  ZD_ERR_LOCKED,             "Fitxer bloquejat"
  ZD_ERR_DENIED,             "Accés denegat"
  ZD_ERR_DUPNAME,            "Nom intern duplicat"
  ZX_Author,                 "X.Mor-Mur"
  ZX_Desc,                   "Idioma neutre"
  ZX_Language,               "CT: Catalan"
}
